@model EmployeeAllocationVM

@{
    ViewData["Title"] = "View Allocations";
    var isAdmin = User.IsInRole(Roles.Administrator);
    var isEmployee = User.IsInRole(Roles.Employee);
    string message = isAdmin ? "There are no allocations" : "You have no allocations. Please contact your Administrator.";
}

<h1>View Allocations for @Model.FirstName @Model.LastName</h1>
<br />
@if (isAdmin)
{
    <a asp-action="Index" class="btn btn-primary">Back to List</a>
    <br />
}
@if (isEmployee)
{
    <a asp-controller="LeaveRequests" asp-action="Index" class="btn btn-primary">View Request History</a>
    <br />
}
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DateOfBirth)
        </dd>
    </dl>
</div>
<hr />
@if (isAdmin && !Model.IsCompletedAllocation)
{
    @*
    In this case, the action method is called AllocateLeave and the route parameter is userId.
    Example: public async Task<IActionResult> AllocateLeave(string id)
     <a class="btn btn-warning" asp-action="AllocateLeave" asp-route-userId="@Model.Id" />
    *@

    <div class="alert alert-warning">
        <p>User is missing some leave allocations.</p>
    </div>
    <form asp-action="AllocateLeave">
        <input type="hidden" asp-for="@Model.Id" />
        <input type="submit" value="Allocate Missing Leave Types" class="btn btn-warning" />
    </form>
    <br />
    <br />
}
@if (Model.LeaveAllocations!.Any())
{
    <div class="card">
        <div class="card-header">
            <h4>Leave Allocations for period @Model.LeaveAllocations![0].Period.Name</h4>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <div class="row">
                    <div class="col"><strong>Leave Name</strong></div>
                    <div class="col"><strong>Original Allocation</strong></div>
                    <div class="col"><strong>Current Allocation</strong></div>
                    <div class="col"><strong>Action</strong></div>
                </div>
            </li>
            @foreach (var allocation in Model.LeaveAllocations)
            {
                <li class="list-group-item">
                    <div class="row">
                        <div class="col">@allocation.LeaveType.Name</div>
                        <div class="col">
                            <span class="badge rounded-pill bg-primary">@allocation.Days</span>
                        </div>
                        <div class="col">
                            <span class="badge rounded-pill bg-warning">@allocation.Days</span>
                        </div>
                        <div class="col">
                            @if (isAdmin)
                            {
                                <a class="btn btn-warning" asp-action="EditAllocation" asp-route-id="@allocation.Id">Edit Allocation</a>
                            }
                            <a asp-controller="LeaveRequests" asp-action="Create" asp-route-leaveTypeId="@allocation.LeaveType.Id" class="btn btn-success">Request Leave</a>
                        </div>
                    </div>
                </li>
            }
        </ul>
    </div>
}
else
{
    <div class="alert alert-warning" role="alert">
        <h2>@message</h2>
    </div>
}

